@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&family=Suez+One&display=swap');

$font-family-rubik: 'Rubik', sans-serif;
$font-family-suez-one: 'Suez One', serif;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: $font-family-rubik, $font-family-suez-one;
  background: linear-gradient(to bottom, black, #ff69fd);
  height: 100vh;
}